@import url('fonts.css');


.page{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    position: sticky;
    top: 0;
}

.content{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    flex: 1 1 auto
}

h1{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;  
    margin-bottom: 30px; 
}

p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 15px;
    text-align: justify;
}

.img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

.img-container{
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    margin-bottom: 20px;
}

.button_header{
    display: inline-block;
    padding: 8px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 30px;           
    transition: all 0.3s ease; 
}

.button_header.active {
    background-color: #09b323;
    border-color: #333;
    color: #000;
}


.button_header:hover{
    color: #000;
    background-color: #f8f9fa;   
    border-color: #333;          
    transform: translateY(-2px);
}