<footer class="d-flex flex-wrap justify-content-between bg-black align-items-center py-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Главная страница Cook Helper">
            <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0" style="color:white">© 2026 Cook Helper</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="{{ url_for('help') }}" aria-label="Страница помощи">
            <svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#question-circle"></use>
            </svg>
        </a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://t.me/cook_helper" target="_blank" rel="noopener" aria-label="Telegram-бот Cook Helper">
            <svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#telegram"></use>
            </svg>
        </a></li>
    </ul>
</footer>
