<header class="p-3 border-bottom bg-white sticky-top">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">

            <div class="d-flex align-items-center">
                <a href="/" class="d-flex align-items-center me-4 link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav me-auto mb-2 mb-lg-0 justify-content-center">
                    <li><a href="{{ url_for('home') }}" class="button_header {% if active == 'home' %}active{% endif %}">Home</a></li>
                    <li><a href="{{ url_for('search') }}" class="button_header {% if active == 'search' %}active{% endif %}">Search</a></li>
                    <li><a href="{{ url_for('about') }}" class="button_header {% if active == 'about' %}active{% endif %}">About</a></li>
                    <li><a href="{{ url_for('help') }}" class="button_header {% if active == 'help' %}active{% endif %}">Help</a></li>
                </ul>
            </div>

           
            <div class="d-flex align-items-center">
                <form class="me-3" role="search">
                    <input type="search" class="form-control form-control-sm" placeholder="Search..." aria-label="Search">
                </form>

                <div class="d-flex align-items-center">
                    {% if user %}
                        
                        <span class="me-2 text-muted small d-none d-lg-inline">{{ user.gmail }}</span>
                        <img src="{{ url_for('static', path='img/profile.png') }}" width="32" height="32" class="rounded-circle border me-2">
                        <a href="{{ url_for('logout') }}" class="btn btn-outline-danger btn-sm">Exit</a>
                    {% else %}
                        
                        <a href="{{ url_for('login') }}" class="text-decoration-none">
                            <img src="{{ url_for('static', path='img/profile.png') }}" width="32" height="32" class="rounded-circle border">
                        </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</header>