{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<!-- Заголовок CookHelper -->

<div class="hero-banner shadow-lg">
    <img src="{{ url_for('static', path='img/banner.jpg') }}" alt="Cook Helper Banner">
    <div class="hero-banner-text">
        <h1 class="hero-title">Cook</h1>
        <h1 class="hero-title">Helper</h1> 
    </div>
</div>


<div class="container-fluid px-lg-5">
    <div class="row align-items-center">
        <div class="text-head-max">ПОГРУЖАЙСЯ В МИР КУЛИНАРИИ</div>
        <div class="text-head-min">ВМЕСТЕ С COOK HELPER</div>
    </div>
    <div class="row align-items-center margin">
        <div class="mini-text">
            Cook Helper превращает обычные продукты в основу для настоящих кулинарных открытий. 
            Даже если под рукой всего несколько ингредиентов, вы сможете создать блюдо, которое удивит вкусом и подачей. 
            Еда станет не просто источником энергии, а маленьким произведением искусства, приготовленным прямо на вашей кухне. 
            Готовьте легко, вдохновляясь идеями, достойными лучших ресторанов мира.
        </div>
    </div>
    <div class="row align-items-stretch gx-5 py-5">
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <a href="https://t.me/CookHelper_2026_bot" target="_blank">
                <div class="marg h-100 d-flex about-card-wrapper align-items-center justify-content-center">
                    <img src="{{ url_for('static', path='img/chat-bot.png') }}" class="heroCarousel">
                    <div class="card-label-max">Chat Bot</div>
                </div>
            </a>
        </div>
        <div class="col-lg-5">
            <div class="b h-100 d-flex align-items-stretch">
                <div id="heroCarousel" class="shadow-lg carousel slide carousel-fade shadow-lg rounded-4 overflow-hidden" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ url_for('static', path='img/HomePage(food).png') }}" class="d-block w-100" alt="Food">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', path='img/HomePage(green).png') }}" class="d-block w-100" alt="Green">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', path='img/HomePage(fastfood).png') }}" class="d-block w-100" alt="Fastfood">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', path='img/HomePage(national).png') }}" class="d-block w-100" alt="National">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', path='img/HomePage(deserts).png') }}" class="d-block w-100" alt="Deserts">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', path='img/HomePage(rest).png') }}" class="d-block w-100" alt="Rest">
                        </div>
                    </div>
                    
                    <!-- Кнопки управления (сделаем их чуть заметнее через bg-opacity) -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark bg-opacity-50 rounded-circle p-3" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-dark bg-opacity-50 rounded-circle p-3" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
            <div class="marg h-100 d-flex card-wrapper">
                <img src="{{ url_for('static', path='img/mishelin.webp') }}" class="farousel">      
            </div>
        </div>
    </div> 

    <!-- Нижние блоки (раздвигаем их) -->
    <div class="row align-items-center gx-5 row-spacing">
        <div class="col-lg-12">
            <h2 class="display-6 text-center text-muted">GGG</h2>
        </div>
    </div>

    <div class="row align-items-center gx-5 row-spacing mb-5">
        <div class="col-lg-12">
            <h2 class="display-6 text-center text-muted">GGGGDGDGDGGDGDGDGGDGD</h2>
        </div>
    </div>
</div>
{% endblock %}